.refresh-btn {
    line-height: 1.6em;
    margin-top: 1px;
    float: right
}
.x-nav a{
    cursor: default;
}
.x-nav a:hover{
    color: #999 !important;
}
.active a{
    display: inline-block;
    background: #009688 0 0 no-repeat;
    color: #fff;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #009688;
}
.first, .last{
    font-size: 12px;
}
.text-empty{
    text-align: center;
    padding: 20px 0;
    color: #999;
}
